.n{
    border: 2px solid;
    background-color: blanchedalmond;
    border-radius: 1px;
    width: 200px;
    text-align: center;
}
.d{
    border: 2px solid;
    background-color: blanchedalmond;
    border-radius: 1px;
    width: 200px;
    text-align: center;
}
tr,td,th{
    border: 2px solid;
    background-color: blanchedalmond;
    border-radius: 1px;
    width: 200px;
    text-align: center;
}
